meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
if context && context.metadata && context.metadata.title
  title #{context.metadata.title}
else
  title Mrmnmly - front-end web developer from Poland. Tech stack: Vue.js, Node.js / Express.js, Phonegap / Cordova, Wordpress.
link(href="https://fonts.googleapis.com/css?family=Roboto:100, 400,700" rel="stylesheet")
link(rel="stylesheet" href="/static/css/styles.css")
if context && context.metadata && context.metadata.tags
  meta(name="keywords" content=context.metadata.tags)
else
  meta(name="keywords" content="front-end, javascript, programming, webdev, web development, web developer, programmer")
meta(name="robots" content="index,follow")
meta(name="googlebot" content="index,follow")
