@mixin bottom-shadow {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

@mixin right-shadow {
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
}

@mixin input-border($color) {
  border-bottom: 1px solid $color;
  border-left: none;
  border-right: none;
  border-top: none;
}

@mixin button($background-color, $font-color, $x-padding, $y-padding) {
  background: $background-color;
  border: none;
  color: $font-color;
  cursor: pointer;
  padding: $y-padding $x-padding;
  transition: background-color 0.15s;
}

@mixin button-hover($background-color) {
  background-color: $background-color;
  transition: background-color 0.15s;
}
