// border-related variables
$small-border-radius: 3px;

// color variables
$black: #121212;
$white: #fff;
$white-dark: #efefef;
$white-darker: #dadada;
$gray-lighter: #fefefe;
$gray-light: #3f4045;
$gray: #413D3D;
$gray-dark: #252526;
$red: #fe293c;
$red-dark: #A30006;

// editor-related variables
$editor-font-size: 16px;
$editor-width: 70%;

// font variables
$base-font-family: monospace, 'Avenir', Helvetica, Arial, sans-serif;
$small-font: 11px;
$h2-size: 14px;
$font-light: 300;
$font-regular: 400;
$font-bold: 600;

// shadow variables
$standard-shadow: 0 5px 5px rgba(0,0,0,0.25);

// size variables
$sidebar-width: 15%;
$sidebar-entries-width: 20%;
$small-margin: 5px;
$regular-margin: 10px;
$big-margin: 25px;
$small-padding: 5px;
$regular-padding: 10px;
$medium-padding: 15px;
$big-padding: 25px;

// z-index variables
$sidebar-button-index: 2;
$sidebar-list-index: 3;
$sidebar-index: 4;
$popup-z-index: 6;