@import './vars.scss';
@import './animations.scss';

body {
  background: $white;
  color: $black;
  font-family: $roboto;
  font-size: $normal-font-size;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1, h2, h3, h4 {
  font-family: $oswald;
}

section {
  clear: both;
  display: block;
  float: left;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.centered-text {
  text-align: center;
}

.uppercase-text {
  text-transform: uppercase;
}

.animated-section {
  background: $gray-light;
  box-sizing: border-box;
  box-shadow: $section-shadow;
  border-radius: 3px;
  clear: both;
  display: block;
  float: none;
  height: calc(100vh - 80px);
  margin: 30px auto 40px;
  overflow: hidden;
  padding: 20px 90px 30px;
  position: relative;
  width: 95%;

  @include hide-animation;  
}

section:hover .animated-section {
  @include reveal-animation;
}

.avatar-big {
  background: url('/static/assets/img/avatar.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: $avatar-big-size / 1.5;
  bottom: $avatar-big-margin;
  display: block;
  height: $avatar-big-size;
  position: absolute;
  right: $avatar-big-size / 3;
  top: calc($avatar-big-margin - 40px);
  width: $avatar-big-size;
}

nav {
  background: $white;
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: $navbar-width;
  z-index: $index-navbar;
}

.home-article {
  position: relative;
  z-index: $index-helper;

  h1 {
    font-size: $home-title-font-size;
    margin: $avatar-big-margin 0 0 0;
  }

  p {
    background: $black;
    color: $white;
    display: inline-block;
    font-size: $home-description-font-size;
    padding: $smallest-padding $small-padding;
  }
}

.services-article {
  display: flex;

  .side-menu {
    align-items: stretch;
    background: $gray-light;
    flex: 1;
    height: 100vh;
    overflow: hidden;
    padding-right: $small-padding;
  }

  .services-content {
    align-items: stretch;
    background: $gray-light;
    flex: 3;
    height: 100vh;
  }

  h2 {
    clear: both;
    color: $black;
    float: none;
    font-size: $home-description-font-size;
    margin: 0;
    padding: $bigger-padding $small-padding;
    position: relative;
  }

  .services-list {
    clear: both;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: block;
      margin: 0;
      padding: 0;

      a {
        background-color: transparent;
        color: $black;
        display: block;
        font-family: $oswald;
        font-size: $home-description-font-size;
        margin: 0 auto;
        padding: $bigger-padding $small-padding;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.6s background-color, 0.2s transform ease;
        width: 100%;

        &:hover {
          background-color: $white;
          color: $black;
          transition: 0.6s background-color, 0.2s transform ease;
          z-index: $index-helper;
          transform: scale(1.05);
        }
      }
    }
  }
}



.no-padding {
  padding: 0;
}