// colors
$black: #28292d;
$blue-dark: #222f38;
$gold-light: #c5b885;
$gold: #907c57;
$gray-light: #e7eaef;
$white: #fff;

// font sizes
$font-size-regular: 16px;
$font-size-gold-tile: 1.5em;
$font-size-tile-h2: 2em;
$font-size-list-tile-h2: 1.5em;

// font families
$roboto: 'Roboto', sans-serif;

// margins
$margin-micro: 2px;
$margin-small: 5px;
$margin-smaller: 10px;
$margin-regular: 15px;
$margin-bigger: 20px;
$margin-big: 25px;

// paddings
$padding-micro: 2px;
$padding-small: 5px;
$padding-smaller: 10px;
$padding-regular: 15px;
$padding-bigger: 20px;
$padding-big: 25px;

// z-indexes
$index-helper: 2;
$index-navbar: 10;

// other helper variables
$tile-height: 250px;
$content-tile-p-line-height: 1.9em;
$container-width: 1200px;