html
  head
    include partials/head.pug
    meta(name="keywords" content=context.metadata.tags)
  body
    include partials/nav.pug
    include partials/home-content.pug
    include partials/footer.pug    
    include partials/scripts.pug
